certifi==2025.10.5
charset-normalizer==3.4.4
crypto==1.4.1
docopt==0.6.2
idna==3.11
Naked==0.1.32
pipreqs==0.4.13
pycryptodome==3.23.0
PyYAML==6.0.3
requests==2.32.5
shellescape==3.8.1
tqdm==4.67.1
urllib3==2.5.0
yarg==0.1.10
